<ion-view id="loanPages">
  <link href="views/trend/trend.css" rel="stylesheet" />
  <div ng-repeat="data in [{'title':'Авто машин'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content class="ion-modified-content margin-top-50">
    <div class="big-container">
      <div class="magic-container margin-lr-20 margin-top-20">
        <p>Та хайх барааны төрлөө сонгоно уу</p>
        <div class="horilist">
          <div class="title-class">
            <span class="middle-title">Их үзсэн</span>
            <span class="left-0" ui-sref="carlist">Дэлгэрэнгүй >>></span>
          </div>
          <ion-scroll direction="x" class="wide-as-needed">
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
          </ion-scroll>
        </div>
        <div class="horilist">
          <div class="title-class">
            <span class="middle-title">Их борлуулагдсан</span>
            <span class="left-0">Дэлгэрэнгүй >>></span>
          </div>
          <ion-scroll direction="x" class="wide-as-needed">
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
          </ion-scroll>
        </div>
        <div class="horilist">
          <div class="title-class">
            <span class="middle-title">Их хүсэлт илгээсэн</span>
            <span class="left-0">Дэлгэрэнгүй >>></span>
          </div>
          <ion-scroll direction="x" class="wide-as-needed">
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
            <div class="horizontal-item">
              <div class="h-item">
                <img ng-src="img/car.jpg" />
                <p>Lexus 570</p>
              </div>
            </div>
          </ion-scroll>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
