.profile-card-tabs > .tabs {
  width: 100% !important;
  left: 0px !important;
}
.profile-card-tabs > .tabs {
  top: 25% !important;
  padding: 0 20px !important;
  border-bottom: none !important;
}
.profile-info-container {
  /* top: 20% !important; */
}
.profile-content {
  /* top: 44px !important; */
}
.profile-content > .scroll {
  min-height: 0px !important;
}
.profile-avatar {
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.profile-avatar img {
  border-radius: 50%;
}
input[type="text"] {
  text-align: right;
}
input[type="number"] {
  text-align: right;
}
.profile-camera-icon {
  right: 10px;
  position: absolute;
  zoom: 2;
}
.profile-card-front {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.profile-card-front i {
  right: 50%;
  position: absolute;
  zoom: 2;
}
.profile-card-back {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.profile-card-back i {
  right: 10px;
  position: absolute;
  zoom: 2;
}
.profile-bank-list {
  display: grid;
  border-top: 0px !important;
  grid-template-columns: auto auto auto;
}
.profile-bank-list img {
  width: 30px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile-bank-list p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.profile-qr {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile-label {
  width: auto !important;
}
.profile-list .item {
  border-color: #ddd !important;
  background-color: #fff !important;
  color: #444 !important;
  position: relative !important;
  z-index: 2 !important;
  margin: -1px !important;
  padding: 6px 0 5px 16px !important;
  border-width: 1px !important;
  border-style: solid !important;
  font-size: 16px !important;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  cursor: pointer;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

#text {
  padding: 25px;
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 50%;
  display: grid;
  width: 60%;
  /* font-size: 50px; */
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-top: 1px solid #a9d229;
  border-bottom: 1px solid #3ec1f4;
  background-image: linear-gradient(#a9d229, #3ec1f4), linear-gradient(#a9d229, #3ec1f4);
  background-size: 1px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}
#text span {
  text-align: center;
  font-size: 12px !important;
}
.overlay-title-text {
  padding-bottom: 20px;
}
.overlay-btn-container {
  position: relative;
  top: 85%;
}
.overlay-btn-container button {
  line-height: 20px !important;
  color: #fff !important;
  border-radius: 10px !important;
  background: rgb(162, 209, 52);
  background: -moz-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  background: -webkit-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  background: linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  font-size: 12px !important;
  width: 65%;
  padding: 5px 40px;
  margin: auto;
  display: block;
}
