<ion-view view-title="Tabs" class="">
  <link href="views/profile/profile.css" rel="stylesheet" />
  <div id="overlay">
    <div class="overlay-content" id="text">
      <span class="overlay-title-text"> АНХААРУУЛГА!!! </span>
      <span class="overlay-body-text"> Таны хувийн мэдээлэл дутуу байгаа тул хүсэлт илгээх боломжгүй байна.</span>
    </div>
    <div class="overlay-btn-container">
      <button class="button overlay-btn-1" ng-click="overlayOff()">Хувийн мэдээллээ оруулах бол ЭНД дарна уу.</button>
    </div>
  </div>
  <ion-pane class="profile-info-container">
    <div class="profile-avatar">
      <div class="profile-avatar">
        <img src="img/icon/winnerCup.png" width="100px" height="100px" />
      </div>
    </div>
    <ion-tabs class="tabs-striped tabs-top profile-card-tabs">
      <!-- Tab 1 -->
      <ion-tab title="Хувь">
        <ion-nav-view>
          <ion-content scroll="true" class="profile-content">
            <div class="list profile-list">
              <label class="item item-input profile-label">
                <p>Овог</p>
                <input type="text" placeholder="Овог" name="firstName" />
              </label>
              <label class="item item-input profile-label">
                <p>Нэр</p>
                <input type="text" placeholder="Нэр" name="lastName" />
              </label>
              <label class="item item-input profile-label">
                <p>Регситр</p>
                <input type="text" placeholder="Регситр" name="uniqueIdentifier" />
              </label>
              <label class="item item-input profile-label">
                <p>Хаяг</p>
                <input type="text" placeholder="Хаяг" name="address" />
              </label>
              <label class="item item-input profile-label">
                <p>Утасны дугаар</p>
                <input type="number" size="8" pattern="\d*" placeholder="Утасны дугаар" name="mobileNumber" />
              </label>
              <label class="item item-input profile-label">
                <p>Гэрлэсэн эсэх</p>
                <input type="text" placeholder="Гэрлэсэн эсэх" name="isMarried" />
              </label>
              <label class="item item-input profile-label">
                <p>Ажилласан жил</p>
                <input type="text" placeholder="Ажилласан жил" name="workYear" />
              </label>
              <label class="item item-input profile-label">
                <p style="padding: 6px 0px;">Иргэний үнэмлэхний зураг</p>
                <i class="icon ion-camera profile-camera-icon"></i>
              </label>
              <label class="item item-input profile-label">
                <div class="profile-card-front col-50">
                  <p style="padding: 6px 0px;">Урд тал</p>
                  <i class="icon ion-camera ion-float-left profile-card-icon"></i>
                </div>
                <div class="profile-card-back col-50">
                  <p style="padding: 6px 0px;">Ард тал</p>
                  <i class="icon ion-camera ion-float-right"></i>
                </div>
              </label>
            </div>
          </ion-content>
        </ion-nav-view>
      </ion-tab>
      <!-- Tab 2 -->
      <ion-tab title="Орлого">
        <ion-nav-view>
          <ion-content scroll="true" class="profile-content">
            <div class="list profile-list">
              <label class="item item-input profile-label">
                <p>Орлогын эх үүсвэр</p>
                <select name="incomeType" class="ion-select-gen">
                  <option value="1">Цалингийн</option>
                  <option value="2">Бизнесийн</option>
                </select>
              </label>
              <label class="item item-input profile-label">
                <p>Сарын орлого</p>
                <input type="text" format="number" ng-model="monthlyIncome" placeholder="Сарын орлого" name="monthlyIncome" />
              </label>
              <label class="item item-input profile-label">
                <p>Өрхийн нийт орлого</p>
                <input type="text" format="number" ng-model="totalIncome" placeholder="Өрхийн нийт орлого" name="totalIncome" />
              </label>
              <label class="item item-input profile-label">
                <p>Төлж буй зээл</p>
                <input type="text" format="number" ng-model="payLoan." placeholder="Төлж буй зээл" name="payLoan" />
              </label>
              <label class="item profile-label"> <p>Харьцдаг банк</p></label>
              <div class="item profile-bank-list">
                <div class="col">
                  <img src="img/khanbank-mn.png" />
                  <p>Хаан банк</p>
                </div>
                <div class="col">
                  <img src="img/khanbank-mn.png" />
                  <p>Хаан банк</p>
                </div>
                <div class="col">
                  <img src="img/khanbank-mn.png" />
                  <p>Хаан банк</p>
                </div>
                <div class="col">
                  <img src="img/khanbank-mn.png" />
                  <p>Хаан банк</p>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-nav-view>
      </ion-tab>
      <!-- Tab 3 -->
      <ion-tab title="Хөрөнгө">
        <ion-nav-view>
          <ion-content scroll="true" class="profile-content">
            <div class="list profile-list">
              <label class="item item-input profile-label">
                <p>Автомашин</p>
                <input type="text" placeholder="Автомашин" name="car" />
              </label>
              <label class="item item-input profile-label">
                <p>Орон сууц</p>
                <input type="text" placeholder="Орон сууц" name="apartment" />
              </label>
              <label class="item item-input profile-label">
                <p>Хашаа байшин</p>
                <select name="incomeType" class="ion-select-gen">
                  <option value="1">Байгаа</option>
                  <option value="2">Байхгүй</option>
                </select>
              </label>
              <label class="item item-input profile-label">
                <p>Цахилгаан бараа</p>
                <select name="incomeType" class="ion-select-gen">
                  <option value="1">Байгаа</option>
                  <option value="2">Байхгүй</option>
                </select>
              </label>
              <label class="item item-input profile-label">
                <p>Тавилга</p>
                <select name="incomeType" class="ion-select-gen">
                  <option value="1">Байгаа</option>
                  <option value="2">Байхгүй</option>
                </select>
              </label>
            </div>
          </ion-content>
        </ion-nav-view>
      </ion-tab>
      <!-- Tab 4 -->
      <ion-tab title="QR">
        <ion-nav-view>
          <ion-content scroll="true" class="profile-content">
            <div>
              <img src="img/qr.png" class="profile-qr" />
            </div>
          </ion-content>
        </ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-pane>
</ion-view>
