<ion-view id="loanPages">
  <link href="views/search/search.css" rel="stylesheet" />
  <div ng-repeat="data in [{'title':'Хайлт'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content class="ion-modified-content margin-top-50">
    <div class="big-container">
      <div class="magic-container margin-lr-20">
        <p class="ion-color-text margin-tb-20-40">Та хайх гэж буй үйлдэрээ сонгох эсвэл бичиж оруулна уу</p>
        <div class="selector-container">
          <span class="title">Үйлдвэр</span>
          <select class="search-selection">
            <option>Хөрөнгийн төрөл</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
        <div class="selector-container">
          <span class="title">Үйлдвэр</span>
          <select class="search-selection">
            <option>Хөрөнгийн төрөл</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
        <div class="selector-container">
          <span class="title">Үйлдвэр</span>
          <select class="search-selection">
            <option>Хөрөнгийн төрөл</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
        <div class="selector-container">
          <span class="title">Дээд үнэ</span>
          <div class="search-input-container">
            <span class="search-input-icon">₮</span>
            <input
              type="text"
              ng-model="requestAmount"
              pattern="\d*"
              placeholder="Зээлийн хэмжээ"
              name=""
              class="search-input-type ng-pristine ng-untouched ng-valid ng-valid-pattern"
              format="number"
            />
          </div>
        </div>
        <div class="selector-container">
          <span class="title">Дээд үнэ</span>
          <div class="search-input-container">
            <span class="search-input-icon">₮</span>
            <input
              type="text"
              ng-model="requestAmount"
              pattern="\d*"
              placeholder="Зээлийн хэмжээ"
              name=""
              class="search-input-type ng-pristine ng-untouched ng-valid ng-valid-pattern"
              format="number"
            />
          </div>
        </div>
      </div>
      <ion-footer class="bottom-footer">
        <button class="button btn single-button" id="Next" ui-sref="carlist">
          Хайх
        </button>
      </ion-footer>
    </div>
  </ion-content>
</ion-view>
