.intro-slider-container {
  height: 100%;
  padding-bottom: 100px;
}
.slider {
  height: 100%;
}
.box {
  height: 100%;
  padding: 30% 10% 20% 10%;
}
.slider-next-button1 {
  bottom: 0px;
  position: absolute;
  left: 50px;
}
.slider-next-button2 {
  bottom: 0px;
  position: absolute;
  right: 50px;
}
.slider-pager {
  padding-bottom: 20%;
}
.slider-img {
  width: 80%;
  height: 70%;
  padding-top: 10%;
  margin: 0 auto;
  display: flex;
}
.slider-text {
  font-size: 14px;
}
