<ion-view>
  <link href="views/intro/intro2/intro2.css" rel="stylesheet" />
  <ion-content scroll="false">
    <div class="intro2-container">
      <img class="intro2-img" src="img/man-img.png" />
      <h2 class="intro2-text">Та зээлийн маркетаас юу хайж байна вэ?</h2>
      <div class="custom-radio-list">
        <div class="radio1">
          <label class="" for="first">Зээл авах </label>
          <input class="" id="first" type="radio" name="content" ng-model="content" value="first" />
        </div>
        <br />
        <div class="radio2">
          <label class="" for="other">Бараа авах </label>
          <input class="" id="other" type="radio" name="content" ng-model="content" value="other" />
        </div>
      </div>
      <button class="button intro2-btn" ng-click="slider2_next()">Үргэлжлүүлэх</button>
    </div>
  </ion-content>
</ion-view>
