<ion-view id="loanPages">
  <link href="views/loan/autoleasing/autoleasing.css" rel="stylesheet" />
  <div ng-repeat="data in [{'title':'Банк сонгох'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content class="ion-modified-content margin-top-50">
    <div class="big-container">
      <div class="magic-container">
        fdssda
      </div>
      <ion-footer class="bottom-footer">
        <button class="button btn single-button" id="Next" ui-sref="autoleasing-4">
          Үргэлжлүүлэх
        </button>
      </ion-footer>
    </div>
  </ion-content>
</ion-view>
