.bank-card {
  padding: 0px 5px !important;
}
.loan-card-badge {
  /* position: fixed !important;
  right: 0px !important;
  top: 50px !important; */
}
#grow .row {
  padding: 2px 0px 0px 0px !important;
}
#grow .col {
  padding: 0px !important;
}
#grow p {
  font-weight: bold;
  font-size: 12px !important;
}
#grow img {
  width: 35px !important;
  height: 35px !important;
}
#grow {
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  height: 0;
  overflow: hidden;
}
.fix-list {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}
.item-thumbnail-left {
  padding-left: 60px !important;
  min-height: 0px !important;
}
.item.activated {
  background-color: #fff;
}
