<ion-view>
  <link href="views/sign/sign.css" rel="stylesheet" />
  <ion-content scroll="false">
    <div ng-controller="introCtrl as vm" class="intro-slider-container sign-container">
      <div class="box">
        <img class="slider-img-sign" src="img/man-img.png" />
        <h2 class="sign-text ion-color-big-text">Та өөрийн мэдээллээ үнэн зөв, бүрэн бөглөнө үү</h2>
        <div class="sign-class">
          <button class="button sign-login-button" ui-sref="login">Нэвтрэх</button>
          <button class="button sign-reg-button" ui-sref="register">Бүртгүүлэх</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
