<ion-view view-title="Tabs">
  <ion-pane>
    <ion-header-bar align-title="left">
      <div class="bar bar-header cus-header-right-icon">
        <button class="button button-icon icon ion-navicon header-icon ion-color-big-text" style="position: fixed; left: 0px;"></button>
        <div class="title cus-header-title ion-color-big-text">
          <span class="ion-text-bold">Зээлийн маркет</span>
        </div>
        <div class="cus-header-right-icon" style="right: 0px; position: fixed;">
          <button class="button button-clear icon ion-search cus-header-icon ion-float-right ion-color-brand-green" ui-sref="search"></button>
          <button class="button button-icon header-icon ion-float-right ion-color-brand-green header-bell-icon" ui-sref="sign">
            <i class="fa fa-bell"></i>
          </button>
        </div>
      </div>
    </ion-header-bar>
    <ion-tabs class="home-tabs tabs-top home-card-tab" delegate-handle="my-handle">
      <!-- Tab 1 -->
      <ion-tab title="Бараа">
        <ion-nav-view class="ghostwhite">
          <link href="views/home/home.css" rel="stylesheet" />
          <ion-content scroll="true" style="margin: 0 10px;">
            <div class="card home-card-1-line" ui-sref="#">
              <div class="item home-card-1 card-body item-text-wrap">
                <div class="home-card-1-first-row">
                  <span class="ion-text-bold ion-float-right">Зээлийн хэмжээ тооцох</span>
                </div>
                <div class=""><span>САРД ТӨЛӨХ ХЭМЖЭЭ</span></div>
                <div class=""><span>363,300.00</span></div>
              </div>
            </div>
            <div class="home-card-container">
              <div class="card home-card home-card-2" ui-sref="car">
                <div class="item card-body item-text-wrap small-box">
                  <div class="ion-text-bold"><span>Автомашин</span></div>
                  <div class="home-card-small-text">
                    <span>Бүх төрлийн автомашин</span>
                  </div>
                </div>
              </div>
              <div class="card home-card home-card-3" ui-sref="car">
                <div class="item card-body item-text-wrap small-box">
                  <div class="ion-text-bold"><span>Тренд</span></div>
                  <div class="home-card-small-text">
                    <span>Бүх төрлийн цахилгаан бараа</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-card-container">
              <div class="card home-card home-card-4" ui-sref="car">
                <div class="item card-body item-text-wrap small-box">
                  <div class="ion-text-bold"><span>Бараа</span></div>
                  <div class="home-card-small-text">
                    <span>Бүх төрлийн цахилгаан бараа</span>
                  </div>
                </div>
              </div>
              <div class="card home-card home-card-5" ui-sref="car">
                <div class="item card-body item-text-wrap small-box">
                  <div class="ion-text-bold"><span>Зарлах</span></div>
                  <div class="home-card-small-text">
                    <span>Хүссэн бараагаа зээлээр авах</span>
                  </div>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-nav-view>
      </ion-tab>

      <!-- Tab 2 -->
      <ion-tab title="Зээл">
        <ion-nav-view class="ghostwhite">
          <ion-content scroll="true" class="home-tab-2-content" style="margin: 0 10px;">
            <p class="loan-tab-title ion-color-text">Та хайж буй зээлийн төрлөө сонгоно уу.</p>
            <div class="card" ui-sref="autoleasing-1">
              <div class="item loan-card-1 card-body item-text-wrap">
                <div class="loan-card-first-row">
                  <span class="ion-text-bold ion-float-right">Автолизинг</span>
                </div>
                <div class="loan-card-2-first-row">
                  <span class="ion-float-right loan-card-text">asdasdasdasdasdasdasd</span>
                </div>
                <div class="loan-card-icon-container">
                  <i class="icon ion-ionic loan-card-icon"></i>
                </div>
              </div>
            </div>
            <div class="card" ui-sref="car_coll">
              <div class="item loan-card-2 card-body item-text-wrap">
                <div class="loan-card-first-row">
                  <span class="ion-text-bold ion-float-right">Авто машин барьцаат зээл</span>
                </div>
                <div class="loan-card-2-first-row">
                  <span class="ion-float-right loan-card-text">asdasdasdasdasdasdasdasdasdasdasdasdasdasd</span>
                </div>
                <div class="loan-card-icon-container">
                  <i class="icon ion-ionic loan-card-icon"></i>
                </div>
              </div>
            </div>
            <div class="card" ui-sref="property_collateral">
              <div class="item loan-card-3 card-body item-text-wrap">
                <div class="loan-card-first-row">
                  <span class="ion-text-bold ion-float-right">Үл хөдлөх барьцаат зээл</span>
                </div>
                <div class="loan-card-2-first-row">
                  <span class="ion-float-right loan-card-text">asdasdasdasdasdasdasd</span>
                </div>
                <div class="loan-card-icon-container">
                  <i class="icon ion-ionic loan-card-icon"></i>
                </div>
              </div>
            </div>
            <div class="card" ui-sref="business_loan">
              <div class="item loan-card-4 card-body item-text-wrap">
                <div class="loan-card-first-row">
                  <span class="ion-text-bold ion-float-right">Бизнесийн зээл</span>
                </div>
                <div class="loan-card-2-first-row">
                  <span class="ion-float-right loan-card-text">asdasdasdasdasdasdasd</span>
                </div>
                <div class="loan-card-icon-container">
                  <i class="icon ion-ionic loan-card-icon"></i>
                </div>
              </div>
            </div>
            <div class="card" ui-sref="consumer_loan">
              <div class="item loan-card-5 card-body item-text-wrap">
                <div class="loan-card-first-row">
                  <span class="ion-text-bold ion-float-right">Хэрэглээний лизинг</span>
                </div>
                <div class="loan-card-2-first-row">
                  <span class="ion-float-right loan-card-text">asdasdasdasdasdasdasd</span>
                </div>
                <div class="loan-card-icon-container">
                  <i class="icon ion-ionic loan-card-icon"></i>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-pane>
</ion-view>
