<ion-view id="loanPages">
    <link href="views/loan/autoleasing.css" rel="stylesheet" />
    <ion-content scroll="true" style="background-color: ghostwhite;">
      <div class="bg-container">
        <div class="head-text">
          <p>Та хайх гэж буй үйлдвэрээ сонгох эсвэл бичиж оруулна уу.</p>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <ul id="progress-bar" class="progressbar">
                <li class="active step-li-1"></li>
                <li class="active step-li-2"></li>
                <li class="active step-li-3"></li>
                <li class="step-li-4"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="input-text">
          <p class="upper-text">Анхан шатны шалгуур хангасан банкууд</p>
          
          <ul class="list-group">
            <li>
                <img class="bank-logo" src="/www/img/khanbank-mn.png" />
              <span class="gray-title">Хас банк</span>
              <span class="badge">Дэлгэрэнгүй >>></span>
            </li>
            <li class="line" />
            <li>
              
            </li>
            
            </div>
          </ul>
        </div>
      </div>

      <div class="btn-container" style="margin-bottom: 20%;">
          <button class="button btn register-next-button" id="Next" ui-sref="autoleasing-3">
            Үргэлжлүүлэх
          </button>
        </div>
    </ion-content>
  </ion-view>
  <style>
    .upper-text {
      color: #3b3b3b;
      text-transform: uppercase;
    }
    .progressbar {
      margin: 10px 0 10px 0;
      counter-reset: step;
    }
    .progressbar li {
      z-index: 0;
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
    }
    .progressbar li:before {
      z-index: 1;
      width: 15px;
      height: 15px;
      content: "";
      line-height: 30px;
      border: 2px solid #7d7d7d;
      background-color: #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      transition: all 0.8s;
    }
    .progressbar li:after {
      width: 100%;
      height: 2px;
      content: "";
      position: absolute;
      background-color: #7d7d7d;
      top: 7px;
      left: -50%;
      z-index: -1;
      transition: all 0.8s;
    }
    .progressbar li:first-child:after {
      content: none;
    }
    .progressbar .step-li-1.active:before {
      z-index: 9;
      border-color: #aad426;
      background-color: #aad426;
      transition: all 0.8s;
    }
    .progressbar .step-li-2.active:before {
      border-color: #68c9a6;
      background-color: #68c9a6;
      transition: all 0.8s;
    }
    .progressbar .step-li-2.active:after {
      transition: all 0.8s;
      background: rgb(170, 212, 38);
      background: -moz-linear-gradient(45deg, rgba(170, 212, 38, 1) 15%, rgba(104, 201, 166, 1) 77%);
      background: -webkit-linear-gradient(45deg, rgba(170, 212, 38, 1) 15%, rgba(104, 201, 166, 1) 77%);
      background: linear-gradient(45deg, rgba(170, 212, 38, 1) 15%, rgba(104, 201, 166, 1) 77%);
    }
    .progressbar .step-li-3.active:before {
      border-color: #41c1f2;
      background-color: #41c1f2;
      transition: all 0.8s;
    }
    .progressbar .step-li-3.active:after {
      transition: all 0.8s;
      background: rgb(104, 201, 166);
      background: -moz-linear-gradient(45deg, rgba(104, 201, 166, 1) 30%, rgba(65, 193, 242, 1) 77%);
      background: -webkit-linear-gradient(45deg, rgba(104, 201, 166, 1) 30%, rgba(65, 193, 242, 1) 77%);
      background: linear-gradient(45deg, rgba(104, 201, 166, 1) 30%, rgba(65, 193, 242, 1) 77%);
    }
    .progressbar .step-li-4.active:before {
      border-color: #41c1f2;
      background-color: #41c1f2;
      transition: all 0.8s;
    }
    .progressbar .step-li-4.active:after {
      transition: all 0.8s;
      background: rgb(104, 201, 166);
      background: -moz-linear-gradient(45deg, rgba(104, 201, 166, 1) 30%, rgba(65, 193, 242, 1) 77%);
      background: -webkit-linear-gradient(45deg, rgba(104, 201, 166, 1) 30%, rgba(65, 193, 242, 1) 77%);
      background: linear-gradient(45deg, rgba(104, 201, 166, 1) 30%, rgba(65, 193, 242, 1) 77%);
    }
  
    .input-text {
      padding: 20px 0px 0px 0px;
    }
  
    .qr-button {
      background: none;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-radius: 10px;
      border-color: yellowgreen;
      padding: 0 15px 0 20px;
    }
    .bank-container {
      background-color: #fff;
      width: 100%;
      padding: 5px 40px 0px 40px;
      box-shadow: 0 2px 5px -2px gray;
    }
    .bank-container img {
      margin: 10px;
      width: 40px;
      height: 40px;
      border-radius: 10%;
    }
  </style>
  