<ion-view id="loanPages">
  <link href="views/loan/autoleasing/autoleasing.css" rel="stylesheet" />
  <ion-content class="ion-modified-content">
    <div class="big-container">
      <div class="magic-container">
        <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item car-back-nav">
          <i class="ion-chevron-left"></i>
          <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide">Back</span><span class="previous-title">Лизинг</span></span>
        </button>
        <div class="bg-container">
          <div style="margin-top: 10px; margin-bottom: 55px;">
            <ul id="progress-bar" class="progressbar">
              <li class="active step-li-1"></li>
              <li class="active step-li-2"></li>
              <li class="step-li-3"></li>
              <li class="step-li-4"></li>
            </ul>
          </div>
          <div class="money-input">
            <p class="middle-title">Зээлийн хүсэлтийн мэдээлэл</p>
            <div class="tugrug-input">
              <span class="title">Зээлийн хэмжээ</span>
              <div class="tugrug-input-container">
                <span class="input-tugrug-icon">₮</span>
                <input
                  type="text"
                  ng-model="requestAmount"
                  pattern="\d*"
                  placeholder="6,230,000.00"
                  name=""
                  class="input-tugrug-type ng-pristine ng-untouched ng-valid ng-valid-pattern"
                  format="number"
                />
              </div>
            </div>
            <div class="tugrug-input">
              <span class="title">Урьдчилгаа</span>
              <div class="tugrug-input-container">
                <span class="input-tugrug-icon">₮</span>
                <input
                  type="text"
                  ng-model="requestAmount"
                  pattern="\d*"
                  placeholder="3,100,000.00"
                  name=""
                  class="input-tugrug-type ng-pristine ng-untouched ng-valid ng-valid-pattern"
                  format="number"
                />
              </div>
            </div>
            <div class="switch-input-container">
              <ul class="switch-list">
                <li>
                  ҮХХ барьцаалах эсэх
                  <span>
                    <label class="toggle toggle-assertive" ng-model="customText" ng-checked="customText">
                      <input type="checkbox" />
                      <div class="track">
                        <div class="handle">{{!customText ? "Тийм" : "Үгүй"}}</div>
                      </div>
                    </label>
                  </span>
                </li>
                <li>
                  Монгол банкны лавлагаа <br />авахыг зөвшөөрөх эсэх
                  <span>
                    <label class="toggle toggle-assertive" ng-model="customText" ng-checked="customText">
                      <input type="checkbox" />
                      <div class="track">
                        <div class="handle">{{!customText ? "Тийм" : "Үгүй"}}</div>
                      </div>
                    </label>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="item-info">
            <p class="middle-title">Барааны мэдээлэл</p>
            <img src="img/car.jpg" class="car-img" />
            <ul>
              <li>Барааны төрөл <span>Машин</span></li>
              <li>Үйлдвэр <span>toyota</span></li>
              <li>Загвар <span>land cruise</span></li>
              <li>Үнэ <span>245,000,000</span></li>
            </ul>
          </div>
        </div>
        <div class="container-padding">
          <p class="middle-title">Боломжит банк санхүү</p>
          <div class="bank-grid">
            <div class="bank">
              <img src="img/khanbank-mn.png" />
              <p>Хаан банк</p>
            </div>
            <div class="bank">
              <img src="img/khanbank-mn.png" />
              <p>Ариг банк</p>
            </div>
            <div class="bank">
              <img src="img/golomt.png" />
              <p>Голомт банк</p>
            </div>
            <div class="bank">
              <img src="img/khanbank-mn.png" />
              <p>Ариг банк</p>
            </div>
            <div class="bank">
              <img src="img/khanbank-mn.png" />
              <p>Ариг банк</p>
            </div>
          </div>
          <p class="middle-title red">Боломжгүй банк санхүү</p>
          <div class="bank-grid">
            <div class="bank">
              <img src="img/khanbank-mn.png" />
              <p>Хаан банк</p>
            </div>
          </div>
        </div>
      </div>
      <ion-footer class="bottom-footer">
        <button class="button btn" id="Next" ui-sref="autoleasing-3">
          Үргэлжлүүлэх
        </button>
      </ion-footer>
    </div>
  </ion-content>
</ion-view>
