<ion-view id="loanPages">
  <link href="views/loan/autoleasing/autoleasing.css" rel="stylesheet" />
  <div ng-repeat="data in [{'title':'Автомашины лизинг'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content class="ion-modified-content margin-top-50">
    <div class="big-container ghostwhite-noscroll-container">
      <div class="magic-container">
        <p class="margin-lr-40 ion-color-text">Та хайх гэж буй үйлдвэрээ сонгох эсвэл бичиж оруулна уу.</p>
        <div class="progressbar-container">
          <ul id="progress-bar" class="progressbar">
            <li class="active step-li-1"></li>
            <li class="step-li-22"></li>
            <li class="step-li-3"></li>
            <li class="step-li-4"></li>
          </ul>
        </div>
        <div class="bottom-border-input-text margin-lr-40">
          <p class="ion-color-big-text">Код оруулна уу</p>
          <input type="text" placeholder="DCC0001" name="carCode" class="step1-car-code" />
        </div>
        <div style="display: flex; height: 40%; flex-direction: column; align-items: center; justify-content: flex-end;">
          <div class="qr-btn-container">
            <button class="button qr-button" id="qr" ui-sref="#">
              <span class="filter">
                <i class="ion-qr-scanner qr-ico"></i>
                QR уншуулах боломжтой
              </span>
            </button>
          </div>
          <div class="bank-container">
            <p>
              Та дурын банк болон ББСБ -ын зээлээр захиалан авах боломжтой
            </p>
            <img src="img/golomt.png" />
            <img src="img/khanbank-mn.png" />
            <img src="img/golomt.png" />
            <img src="img/golomt.png" />
          </div>
        </div>
      </div>
      <ion-footer class="bottom-footer">
        <button class="button btn single-button" id="Next" ui-sref="autoleasing-2">
          Үргэлжлүүлэх
        </button>
      </ion-footer>
    </div>
  </ion-content>
</ion-view>
