<ion-view id="loanPages">
  <link href="views/loan/autoleasing/autoleasing.css" rel="stylesheet" />
  <ion-content class="ion-modified-content">
    <div class="big-container">
      <div class="magic-container">
        <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item car-back-nav">
          <i class="ion-chevron-left"></i>
          <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide">Back</span><span class="previous-title">Автомашин лизинг</span></span>
        </button>
        <p>DIGIT KEYBOARD BAIH HESEN</p>
      </div>
      <ion-footer class="bottom-footer">It's footer :D</ion-footer>
    </div>
  </ion-content>
</ion-view>
