.basket-content {
  /* background: #000; */
}
.basket-item-count {
  position: absolute;
  left: 60%;
  top: 30%;
  color: #000 !important;
  font-weight: bold;
}
.basket-item {
  padding: 0px 0px 0px 30px !important;
  /* background: #000; */
}
.checkbox input:checked + .checkbox-icon:before {
  background: #fff !important;
  border-color: #acd322 !important;
}
.checkbox-icon:before {
  border-radius: 5px !important;
  /* background: #000 !important; */
}
.checkbox .checkbox-icon:before {
  border-color: #acd322;
}
.basket-item-left-text {
  float: left;
}
.basket-item-left-text h2 {
  font-size: 12px;
  font-weight: bold;
  /* color: #fff; */
}
.basket-item-left-text p {
  font-size: 12px;
  color: #a2a7b5;
}
.basket-item-right-text {
  float: right;
}

.basket-item-right-text h2 {
  font-size: 12px;
  font-weight: bold;
  /* color: #fff; */
}
.basket-item-right-text p {
  font-size: 12px;
  color: #a2a7b5;
}
.checkbox-icon {
  width: 20px !important;
  height: 20px !important;
}
.item-complex.item-icon-right .item-content {
  padding-right: 20px !important;
  padding-left: 65px !important;
  /* background: #000; */
}
.checkbox-icon:after {
  top: 24% !important;
  left: 25% !important;
  width: 11px !important;
  height: 5px !important;
}
.basket-total-price {
  /* color: #fff; */
  font-weight: bold;
  padding: 0 10%;
}
.total-price-title {
  float: left;
}
.total-price-amount {
  float: right;
}
.basket-btn-container {
  display: flex;
  padding-top: 50px;
  width: 100%;
  padding: 0 20px;
  bottom: 0%;
  position: fixed;
}
.basket-content > .scroll {
  padding-bottom: 100px !important;
}
.basket-add-item {
  width: 100%;
  display: flow-root;
  padding: 0 10px;
}
.basket-add-item i {
  font-size: 25px !important;
}
.basket-content label {
  border-color: #a2a7b5 !important;
}
.item-content img {
  top: 20% !important;
}
.basket-content .checkbox {
  position: absolute;
  top: 35% !important;
  right: 0px !important;
  left: 0px !important;
  z-index: 3;
}
.basket-item > .checkbox input:checked + .checkbox-icon:before {
  border-radius: 5px !important;
  background: #fff !important;
  background-color: #fff !important;
  border-color: #acd322 !important;
}
.checkbox input:checked + .checkbox-icon::after {
  border-radius: 5px !important;
}
.checkbox .checkbox-icon:before {
  border-radius: 5px !important;
  border-color: #acd322;
}
.checkbox-icon {
  width: 20px !important;
  height: 20px !important;
}
.checkbox-icon::after {
  width: 20px !important;
  height: 20px !important;
}
.checkbox-icon::before {
  width: 20px !important;
  height: 20px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
}
.checkbox input[type="checkbox"]:checked + i:after {
  content: "\2713";
  transform: rotate(0);
  top: 0% !important;
  left: 20% !important;
  border: none !important;
  display: flex;
  text-align: center;
  color: #acd322;
}
.card-list-swiper .item .item-content.activated {
  background: #fff;
  border: none;
}
.card-list-swiper .custom-class {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.card-list-swiper .custom-class .checkbox input {
  left: -50px !important;
}
.card-list-swiper .item-complex .item-content,
.card-list-swiper .item-radio .item-content {
  position: relative;
  z-index: 2;
  padding: 15px;
  border: none;
  background-color: white;
}
.card-list-swiper .item-checkbox {
  padding-left: 0px;
}
.card-list-swiper .item-avatar {
  padding-left: 35px;
  min-height: 35px;
}
.card-list-swiper .item-options {
  position: absolute;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  right: 0;
  z-index: 1;
  top: 10px;
  bottom: 10px;
  height: auto;
  background: linear-gradient(90deg, rgba(148, 207, 79, 1) 29%, rgb(63 193 245) 100%);
}
.card-list-swiper .button.button-light {
  background: none;
  color: #fff;
}
.card-list-swiper .button.button-light.activated {
  background: none;
  color: #fff;
}
