.car-collateral-list input {
  text-align: right;
  color: #4b5180 !important;
  font-weight: bold;
  /* padding-right: 0px; */
}
.car-col-content {
  margin-bottom: 50px;
  background: #f8f8fe;
}
.car-collateral-list {
  height: 100% !important;
}

.car-collateral-list p {
  color: #a2a7b5 !important;
}
.car-collateral-label {
  width: 100%;
  border-left: none;
  border-right: none;
  background: #f6f5fc;
  /* padding-left: 0px; */
}
.car-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.car-collateral-img-list {
  border: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background: #f6f5fc;
}
.bottom-bank-container {
  background: #fff;
  box-shadow: 1px 0px 7px -1px grey;
  padding: 0 10px;
  left: 0;
  /* position: absolute; */
}
.bottom-bank-container img {
  height: 10%;
  width: 10%;
  margin: 0 5px;
}
.car-next-button {
  display: block;
  margin: 20px auto;
  line-height: 36px !important;
  width: 65%;
  min-height: 36px !important;
}
.car-back-nav {
  width: 100%;
  text-align: left;
}
.previous-title {
  padding-left: 10px;
}
.car-step2-card label {
  border: 0px !important;
  padding-left: 20px !important;
}
.car-step2-card select {
  margin-right: 20px !important;
  right: 0;
  position: absolute;
}
.car-step2-input {
  text-align: left !important;
  border: 1px solid #d5d5d5 !important;
  border-radius: 10px;
  margin: 0 auto;
  width: 90%;
  padding: 0 10px 0 35px !important;
}
.step2-card-span {
  color: #4b5180;
  padding: 10px 0px 0px 15px;
  display: flex;
}
.step2-card-p {
  margin: 10px 0px 0px 20px !important;
}
.step2-loam-month {
  margin-top: 5px !important;
}
.step2-bank-container {
  padding: 0 10px;
  left: 0;
  display: flex !important;
  /* position: absolute; */
}
.step2-bank-container img {
  height: 40%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.step2-bank-container p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.bank-title-red {
  color: red !important;
}
.step2-bank-span {
  color: #4b5180;
  padding-left: 20px !important;
}
.step2-description-field {
  display: block !important;
}
.step2-description-field textarea {
  min-height: 100px;
}
.step2-input-icon {
  padding: 8px 8px 8px 30px;
  font-weight: bold;
  min-width: 50px;
  position: absolute;
  text-align: center;
  font-size: 18px;
  color: #a2a7b5;
}
.bank-logo-container {
  display: flex;
  position: relative;
  float: left;
}
.ml-42 {
  margin-left: 42px;
  margin-top: -5px;
}
.bank-middle-title {
  margin-top: -5px;
  font-size: 14px;
  font-weight: bold;
  color: #4b5180;
}
.checkbox-square {
  position: absolute;
  top: 50%;
  right: 8px;
  left: 8px;
  z-index: 3;
  margin-top: -21px;
}
.logo-size {
  width: 35px;
  height: 35px;
}
.checkbox-icon {
  position: relative;
  width: 25px;
  height: 25px;
  display: block;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.car-step3-card.step3-checkbox-container {
  padding-left: 45px !important;
}
.car-step3-card label {
  border: 0px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
.car-step3-card .item.item-input input {
  padding-right: 24px !important;
  width: 100px;
  position: absolute;
  right: 0;
}
.step3-container .scroll {
  height: 100% !important;
}
.item-checkbox {
  padding-left: 50px !important;
}
.bank-desc-green {
  color: #acd322 !important;
}
.step3-checkbox-container > .checkbox input:checked + .checkbox-icon:before {
  border-radius: 5px !important;
  background: #fff !important;
  background-color: #fff !important;
  border-color: #acd322 !important;
}
.checkbox input:checked + .checkbox-icon::after {
  border-radius: 5px !important;
}
.checkbox .checkbox-icon:before {
  border-radius: 5px !important;
  border-color: #acd322;
}
.checkbox-icon {
  width: 20px !important;
  height: 20px !important;
}
.checkbox-icon::after {
  width: 20px !important;
  height: 20px !important;
}
.checkbox-icon::before {
  width: 20px !important;
  height: 20px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
}
.checkbox input[type="checkbox"]:checked + i:after {
  content: "\2713";
  transform: rotate(0);
  top: 0% !important;
  left: 20% !important;
  border: none !important;
  display: flex;
  text-align: center;
  color: #acd322;
}
.detail-btn-container {
  display: inline-flex;
  padding-top: 50px;
}
#car-collateral2 > .scroll {
  height: 130px;
  background: rgb(134, 205, 109);
  background: url(/www/img/lines/home-small-line.png), -moz-linear-gradient(90deg, rgba(134, 205, 109, 1) 10%, rgba(63, 193, 243, 1) 97%);
  background: url(/www/img/lines/home-small-line.png), -webkit-linear-gradient(90deg, rgba(134, 205, 109, 1) 10%, rgba(63, 193, 243, 1) 97%);
  background: url(/www/img/lines/home-small-line.png), linear-gradient(90deg, rgba(134, 205, 109, 1) 10%, rgba(63, 193, 243, 1) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#86cd6d",endColorstr="#3fc1f3",GradientType=1);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
}
