<ion-view ng-app="car_collateral.Ctrl">
  <link href="views/loan/car_collateral/car_collateral.css" rel="stylesheet" />
  <div ng-repeat="data in [{'title':'Автомашин барьцаалсан зээл'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content scroll="true" class="car-col-content margin-top-50">
    <div class="list car-collateral-list">
      <label class="item item-input car-collateral-label">
        <p>Улсын дугаар</p>
        <input type="text" placeholder="Улсын дугаар" name="nationalNumber" />
      </label>
      <label class="item item-input car-collateral-label">
        <p>Үйлдвэр</p>
        <input type="text" placeholder="Үйлдвэр" name="factory" />
      </label>
      <label class="item item-input car-collateral-label">
        <p>Загвар</p>
        <input type="text" placeholder="Загвар" name="mark" />
      </label>
      <label class="item item-input car-collateral-label">
        <p>Үйлдвэрлэсэн он</p>
        <input type="text" placeholder="Үйлдвэрлэсэн он" name="productYear" />
      </label>
      <label class="item item-input car-collateral-label">
        <p>Орж ирсэн он</p>
        <input type="text" placeholder="Орж ирсэн он" name="entryYear" />
      </label>
      <label class="item item-input car-collateral-label">
        <p>Явсан км</p>
        <input type="text" placeholder="Явсан км" name="odo" />
      </label>
      <label class="item car-collateral-label"> <p>Зураг</p></label>
      <div class="item car-collateral-img-list">
        <div class="row">
          <div class="col col-33 car-img">
            <img src="img/car.jpg" />
          </div>
          <div class="col col-33 car-img">
            <img src="img/car.jpg" />
          </div>
          <div class="col col-33 car-img">
            <img src="img/car.jpg" />
          </div>
        </div>
        <div class="row">
          <div class="col col-33 car-img">
            <img src="img/car.jpg" />
          </div>
          <div class="col col-33 car-img">
            <img src="img/car.jpg" />
          </div>
          <div class="col col-33 car-img">
            <img src="img/car.jpg" />
          </div>
        </div>
      </div>
      <div class="bottom-bank-container">
        <span> ТА ДУРЫН БАНК БОЛОН ББСБ -ЫН ЗЭЭЛЭЭР ЗАХИАЛАН АВАХ БОЛОМЖТОЙ</span>
        <div>
          <img src="img/khanbank-mn.png" />
          <img src="img/khanbank-mn.png" />
          <img src="img/khanbank-mn.png" />
          <img src="img/khanbank-mn.png" />
          <img src="img/khanbank-mn.png" />
        </div>
      </div>
      <button class="button btn single-button" id="Next" ui-sref="car_coll2">
        Үргэлжлүүлэх
      </button>
    </div>
  </ion-content>
</ion-view>
