.car-detail img {
  width: 120px;
  height: 80px;
  float: left;
  margin: 0 10px 0 20px;
}
.car-detail p {
  font-size: 14px;
  font-weight: bold;
  color: #263667 !important;
  margin: 0 0 20px !important;
}
.car-detail span {
  font-size: 12px;
  color: #b8b8b8 !important;
}
.bank-detail {
  margin-top: 20px;
}
.bant-detail-title {
  padding-left: 16px;
  padding-bottom: 10px;
  display: block;
  color: #263667 !important;
}
.bank-detail p {
  color: #c4c8d1 !important;
}
.bank-detail-label input {
  text-align: right;
  color: #263667 !important;
}
.bank-detail > .item-checkbox span {
  font-size: 14px;
  color: #263667 !important;
}
.bank-detail > .item-checkbox .checkbox {
  left: unset !important;
  right: 15px !important;
  padding: 10px 7px !important;
}
.bank-detail > .item-checkbox {
  padding-left: 16px !important;
}
.detail-checkbox > .checkbox input:checked + .checkbox-icon:before {
  border-radius: 5px !important;
  background: #fff !important;
  background-color: #fff !important;
  border-color: #b6e752 !important;
}
.checkbox input:checked + .checkbox-icon::after {
  border-radius: 5px !important;
}
.checkbox .checkbox-icon:before {
  border-radius: 5px !important;
}
.checkbox-icon {
  width: 20px !important;
  height: 20px !important;
}
.checkbox-icon::after {
  width: 20px !important;
  height: 20px !important;
}
.checkbox-icon::before {
  width: 20px !important;
  height: 20px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
}
.checkbox input[type="checkbox"]:checked + i:after {
  content: "\2713";
  transform: rotate(0);
  top: 0% !important;
  left: 20% !important;
  border: none !important;
  display: flex;
  text-align: center;
  color: #b6e752;
}
.detail-btn-container {
  display: flex;
  padding-top: 50px;
  width: 100%;
  padding: 0 20px;
  bottom: 20%;
  position: fixed;
}
#confirm-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  cursor: pointer;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.confirm-overlay-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #263667;
  text-align: center;
  margin-bottom: 48px;
  border-radius: 10px 10px 0px 0px;
  background: #fff;
  display: grid;
}
.confirm-title {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.confirm-overlay-body-text {
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
}
.confirm-btn {
  width: 50%;
  margin: 5px auto;
}
.confirm-close-btn {
  top: 6%;
  zoom: 1.2;
  color: #fff;
  padding: 10px;
}
.popup {
  border-radius: 5px !important;
}
.popup-buttons button {
  background: rgb(162, 209, 52) !important;
  background: -moz-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%) !important;
  background: -webkit-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%) !important;
  background: linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%) !important;
  color: #fff;
  border-radius: 10px !important;
  min-height: 35px !important;
  height: 35px !important;
  margin: 0 20px !important;
}
.popup-body {
  margin: 0 auto;
}
.popup-body select {
  border-radius: 5px;
  padding: 5px;
}
.popup-body option {
  padding: 5px;
}
.confirm-overlay-container select {
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  background: #f8f8f8 !important;
}
