.car-detail img {
  width: 120px;
  height: 80px;
  float: left;
  margin: 0 10px 0 20px;
}
.car-detail p {
  font-size: 14px;
  font-weight: bold;
  color: #263667 !important;
  margin: 0 0 20px !important;
}
.car-detail span {
  font-size: 12px;
  color: #b8b8b8 !important;
}
.bank-detail {
  margin-top: 20px;
}
.bant-detail-title {
  padding-left: 16px;
  padding-bottom: 10px;
  display: block;
  color: #263667 !important;
}
.bank-detail p {
  color: #c4c8d1 !important;
}
.bank-detail-label input {
  text-align: right;
  color: #263667 !important;
}
.bank-detail > .item-checkbox span {
  font-size: 14px;
  color: #263667 !important;
}
.bank-detail > .item-checkbox .checkbox {
  left: unset !important;
  right: 15px !important;
  padding: 10px 7px !important;
}
.bank-detail > .item-checkbox {
  padding-left: 16px !important;
}
.detail-checkbox > .checkbox input:checked + .checkbox-icon:before {
  border-radius: 5px !important;
  background: #fff !important;
  background-color: #fff !important;
  border-color: #b6e752 !important;
}
.checkbox input:checked + .checkbox-icon::after {
  border-radius: 5px !important;
}
.checkbox .checkbox-icon:before {
  border-radius: 5px !important;
}
.checkbox-icon {
  width: 20px !important;
  height: 20px !important;
}
.checkbox-icon::after {
  width: 20px !important;
  height: 20px !important;
}
.checkbox-icon::before {
  width: 20px !important;
  height: 20px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
}
.checkbox input[type="checkbox"]:checked + i:after {
  content: "\2713";
  transform: rotate(0);
  top: 0% !important;
  left: 20% !important;
  border: none !important;
  display: flex;
  text-align: center;
  color: #b6e752;
}
.detail-btn-container {
  display: flex;
  padding-top: 50px;
  width: 100%;
  padding: 35px 20px;
  bottom: 15%;
  position: relative;
}
#confirm-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  cursor: pointer;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.confirm-overlay-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #263667;
  text-align: center;
  margin-bottom: 48px;
  border-radius: 10px 10px 0px 0px;
  background: #fff;
  display: grid;
}
.confirm-title {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.confirm-overlay-body-text {
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
}
.confirm-btn {
  width: 50%;
  margin: 5px auto;
}
.confirm-close-btn {
  top: 6%;
  zoom: 1.2;
  color: #fff;
  padding: 10px;
}
.popup {
  border-radius: 5px !important;
}
.popup-buttons button {
  background: rgb(162, 209, 52) !important;
  background: -moz-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%) !important;
  background: -webkit-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%) !important;
  background: linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%) !important;
  color: #fff;
  border-radius: 10px !important;
  min-height: 35px !important;
  height: 35px !important;
  margin: 0 20px !important;
}
.popup-body {
  margin: 0 auto;
}
.popup-body select {
  border-radius: 5px;
  padding: 5px;
}
.popup-body option {
  padding: 5px;
}
.confirm-overlay-container select {
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  background: #f8f8f8 !important;
}
.request-detail-content > .scroll {
  height: 100% !important;
}
.bank-chat-title {
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 10px;
  display: block;
  color: #263667 !important;
}
.bank-chat-container {
  border: 1px solid #bebebe;
  border-radius: 10px;
  display: flow-root;
  width: 90%;
  margin: 0 auto;
}
.bank-chat-income {
  display: grid;
}
.bank-chat-send {
  display: grid;
  float: right;
}
.income-chat-body {
  background: #dbdbdb;
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0px 0px 10px;
  max-width: 60vw;
}
.send-chat-body {
  background: rgb(86, 197, 198);
  background: -moz-linear-gradient(119deg, rgba(86, 197, 198, 1) 55%, rgba(61, 192, 250, 1) 100%);
  background: -webkit-linear-gradient(119deg, rgba(86, 197, 198, 1) 55%, rgba(61, 192, 250, 1) 100%);
  background: linear-gradient(119deg, rgba(86, 197, 198, 1) 55%, rgba(61, 192, 250, 1) 100%);
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  /* margin: 0px 10px 0px 10px; */
  max-width: 60vw;
  margin: 0 10px 0 auto;
}
.income-chat-time {
  font-size: 10px;
  padding-left: 15px;
}
.send-chat-time {
  font-size: 10px;
  padding-left: 15px;
  text-align: right;
  padding-right: 15px;
}
.modal-wrapper {
  /* padding: 0 20px;
  height: 60vh;
  width: 80vw; */
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.modal {
  position: relative !important;
  /* border-radius: 10px; */
}
.modal-chat-body {
  display: grid;
}
.bank-chat-modal > .bar-header {
  border-bottom: 1px solid #dbdbdb;
}
.bank-chat-content {
  margin-bottom: 70px !important;
}
.bank-chat-content > .scroll {
  height: 100% !important;
}
.msger-inputarea {
  display: flex;
  padding: 5px 10px;
  border-top: var(--border);
  background: #eee;
}
.msger-inputarea * {
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
  padding: 5px;
}
.msger-send-btn {
  background: rgb(69 194 232);
  color: #fff !important;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
  height: 30px;
  margin: auto 0 auto 10px;
  padding: 0 15px;
  font-size: 20px;
}
.msger-send-btn:hover {
  background: rgb(69 194 232);
}
.bank-chat-footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
}
.bank-chat-hide-btn {
  padding: 3px 6px !important;
  color: #000 !important;
}
