<ion-view ng-app="request_detail.Ctrl">
  <link href="views/request-list/request-detail/request_detail.css" rel="stylesheet" />
  <ion-content scroll="true" class="request-detail-content">
    <div class="list" ng-controller="request_detailCtrl">
      <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item car-back-nav">
        <i class="ion-chevron-left"></i>
        <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide">Back</span><span class="previous-title">Хүсэлт илгээх</span></span>
      </button>
      <div class="card car-step2-card">
        <span class="step2-card-span">Зээлийн хүсэлтийн мэдээлэл</span>
      </div>
    </div>
  </ion-content>
</ion-view>
