/* Empty. Add your own CSS if you like */
@font-face {
    font-family: "Roboto-Bold";
    src: url("../lib/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../lib/roboto/Roboto-Regular.ttf") format("truetype");
}


/*.menu-open .menu-content {
    height: 60%;
    margin-top: 20%;
}*/

.ButtonClickAnimate:active {
    background: rgba(255,255,255,0.6) !important;
    background: -webkit-gradient(linear, 0 0, 0 0, from(rgba(255,255,255,0.6)), to(rgba(139, 178, 238, 0.6))) !important;
    background: -moz-linear-gradient(rgba(255,255,255,0.6), rgba(139, 178, 238, 0.6)) !important;
    background: linear-gradient(rgba(255,255,255,0.6), rgba(139, 178, 238, 0.6)) !important;
}

#searchItemDiv {
    background-color: transparent;
}

.bar.bar-positive {
    background-color: #d04a0b !important;
    color: #fff;
    border: 0 !important;
    border-color: #d04a0b !important;
}
