<ion-view id="loanPages">
  <link href="views/property_collateral/collateral.css" rel="stylesheet" />
  <ion-content scroll="false">
    <div class="ghostwhite-noscroll-container">
      <p class="margin-lr-20">Үл хөдлөх хөрөнгө барьцаалсан зээл</p>
      <div class="card blue-card margin-lr-20">
        <span class="ion-float-right title">Барьцаат зээл</span>
        <span class="ion-float-right desc">Бүх төрлийн цахилгаан бараа, тавилга гар утас худалдан авах зах зээлийн хүсэлт илгээх боломжтой</span>
      </div>
      <div>
        <select>
          <option>Option 1</option>
          <option selected>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>
      <div class="bottom-line-input margin-lr-20">
        <input type="text" placeholder="Үнэлгээ" name="" />
        <input type="text" placeholder="Хэмжээ" name="" />
      </div>
      <div class="bank-container">
        <p>
          Та дурын банк болон ББСБ -ын зээлээр захиалан авах боломжтой
        </p>
        <img src="https://lh3.googleusercontent.com/KYQyVTgP4ZV60gxNOsKYssScNe17NMgHpO_nRY4WRBYj_4YTZ0e8t6zwh38sTFmyCco" />
        <img src="https://lh3.googleusercontent.com/p7hXFskPhLktF-tlcwlZ62WlOKP3i4nJ3iIhMNGXJT28vHdCheSw228PgRuu8Q7WejoY" />
        <img src="https://lh3.googleusercontent.com/XdgGl-1W5nsU5vl-qyq1QaaHifnq-SgEh6Dh_DdJ4hEtMfGSgjpQIkOq7Ly3zfG3zA8" />
        <img src="https://lh3.googleusercontent.com/tz0ee5jEozKCbjOusR_cesg4-RDQ1OYiDDEduRj225V7rytxKhcEifs6PFTWKgDAOYs" />
      </div>
      <div class="bottom-btn-container margin-lr-20">
        <button class="button btn" id="back" ui-sref="2">
          Буцах
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
