<ion-view id="loanPages">
  <link href="views/loan/business_loan/business_loan.css" rel="stylesheet" />
  <ion-content class="ion-modified-content">
    <div class="big-container ghostwhite-noscroll-container">
      <div class="magic-container margin-lr-20">
        <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item car-back-nav">
          <i class="ion-chevron-left"></i>
          <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide">Back</span><span class="previous-title">Бизнесийн зээл</span></span>
        </button>
        <div style="margin-top: 50px;">
          <span>Танилцуулга</span>
        </div>
        <div style="margin-top: 50px;">
          <select class="selection">
            <option selected>Зориулалт</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <select class="selection">
            <option selected>Орлого баталгаажуулах баримт</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
          <select class="selection">
            <option selected>Барьцаа хөрөнгө</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
        <div style="display: flex; height: 50%; flex-direction: column; align-items: center; justify-content: flex-end;">
          <div class="bank-container">
            <p>
              Та дурын банк болон ББСБ -ын зээлээр захиалан авах боломжтой
            </p>
            <img src="img/golomt.png" />
            <img src="img/khanbank-mn.png" />
            <img src="img/golomt.png" />
            <img src="img/golomt.png" />
          </div>
        </div>
      </div>
      <ion-footer class="bottom-footer">
        <button class="button btn" id="Next" ui-sref="">
          Үргэлжлүүлэх
        </button>
      </ion-footer>
    </div>
  </ion-content>
</ion-view>
