<ion-view id="loanPages">
  <link href="views/car/car.css" rel="stylesheet" />
  <div ng-repeat="data in [{'title':'Авто машин'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content class="ion-modified-content">
    <div class="big-container margin-top-50">
      <div class="magic-container margin-lr-20">
        <p class="ion-color-text">Та хайх гэж буй загвараа сонгох эсвэл бичнэ үү</p>
        <div class="search-input">
          <span class="icon ion-search"></span>
          <input type="text" placeholder="Хайх" name="" />
        </div>
        <div class="brand-tags">
          <ul>
            <li class="series" ui-sref="carlist">Land 200</li>
            <li class="series">Crown</li>
            <li class="series">Land 100</li>
            <li class="series">Prius 20</li>
            <li class="series">dasfds</li>
            <li class="series">fd</li>
            <li class="series">fddfs</li>
            <li class="series">fds</li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
