<ion-view id="loanPages">
  <link href="views/car/car.css" rel="stylesheet" />
  <ion-content class="ion-modified-content">
    <div class="big-container">
      <div class="magic-container margin-lr-20">
        <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item car-back-nav">
          <i class="ion-chevron-left"></i>
          <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide">Back</span><span class="previous-title">Авто машин</span></span>
        </button>
        <p>Та хайх гэж буй загвараа сонгох эсвэл бичнэ үү</p>
        <div class="search-input">
          <span class="icon ion-search"></span>
          <input type="text" placeholder="Хайх" name="" />
        </div>
        <div class="brand-tags">
          <ul>
            <li class="series" ui-sref="carlist">Land 200</li>
            <li class="series">Crown</li>
            <li class="series">Land 100</li>
            <li class="series">Prius 20</li>
            <li class="series">dasfds</li>
            <li class="series">fd</li>
            <li class="series">fddfs</li>
            <li class="series">fds</li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
