<ion-view id="loanPages">
  <link href="views/car/car.css" rel="stylesheet" />
  <div ng-repeat="data in [{'title':'Автомашин'}]" ng-include src="'views/navbar.html'"></div>
  <div id="paypopup" style="display: none;">
    <div class="pay-container">
      <ion-tabs class="tabs-striped tabs-top">
        <ion-tab title="QPay">
          <div class="">
            <div class="item-info">
              <p class="middle-title">BMW X6</p>
              <ul>
                <li>Үйлдвэрлэсэн он <span> - </span></li>
                <li>Орж ирсэн он <span> - </span></li>
                <li>Борлуулагч <span> - </span></li>
                <li>Төлөх дүн <span class="price">245,000,000</span></li>
              </ul>
              <div class="qr-title">
                <p class="one"><span>QR аар төлөх банкаа сонгоно уу</span></p>
              </div>
              <div class="qr-bank-grid">
                <div class="qr-bank">
                  <img src="img/khanbank-mn.png" />
                  <p>Хаан банк</p>
                </div>
                <div class="qr-bank">
                  <img src="img/khanbank-mn.png" />
                  <p>Ариг банк</p>
                </div>
              </div>
            </div>
          </div>
        </ion-tab>
        <ion-tab title="Карт">
          <div class="">
            <div class="item-info">
              <p class="middle-title">BMW X6</p>
              <ul>
                <li>Үйлдвэрлэсэн он <span> - </span></li>
                <li>Орж ирсэн он <span> - </span></li>
                <li>Борлуулагч <span> - </span></li>
                <li>Төлөх дүн <span class="price">245,000,000</span></li>
              </ul>
              <div class="qr-title">
                <p class="one"><span>Та төлбөр төлөх банкаа сонгоно уу</span></p>
              </div>
              <div class="qr-bank-grid">
                <div class="qr-bank">
                  <img src="img/khanbank-mn.png" />
                  <p>Хаан банк</p>
                </div>
                <div class="qr-bank">
                  <img src="img/khanbank-mn.png" />
                  <p>Ариг банк</p>
                </div>
                <div class="qr-bank">
                  <img src="img/golomt.png" />
                  <p>Голомт банк</p>
                </div>
                <div class="qr-bank">
                  <img src="img/khanbank-mn.png" />
                  <p>Ариг банк</p>
                </div>
              </div>
            </div>
          </div>
        </ion-tab>
      </ion-tabs>
    </div>
  </div>
  <ion-content class="ion-modified-content margin-top-50">
    <div class="big-container">
      <div class="magic-container">
        <div class="item-info">
          <ion-slide-box class="leasing-badge">
            <ion-slide>
              <div class="box1">
                <img src="img/car.jpg" class="car-img" />
              </div>
            </ion-slide>
            <ion-slide>
              <div class="box2">
                <img src="img/car.jpg" class="car-img" />
              </div>
            </ion-slide>
          </ion-slide-box>
          <p class="middle-title">BMW X6</p>
          <ul>
            <li>Үйлдвэрлэсэн он <span> - </span></li>
            <li>Орж ирсэн он <span> - </span></li>
            <li>Барааны код <span> - </span></li>
            <li>Борлуулагч <span> - </span></li>
            <li>Үнэ <span>245,000,000</span></li>
            <li>Бүтээгдэхүүний QR <span> - </span></li>
            <div id="addition-info" style="display: none;">
              <li>Өнгө <span> - </span></li>
              <li>Явсан км<span> - </span></li>
              <li>Моторын багтаамж <span> - </span></li>
              <li>Арлын дугаар <span>00</span></li>
              <li>Хөдөлгүүр <span> - </span></li>
              <li>Үйлдвэр <span> - </span></li>
              <li>Хурдны хайрцаг<span> - </span></li>
              <li>Жолооны хүрд <span> - </span></li>
              <li>Үйлдвэрлэсэн улс <span>00</span></li>
              <li>Хөтлөгч <span> - </span></li>
            </div>
          </ul>
          <button id="collapse-btn" class="collapse-btn" ng-click="collapse();">Дэлгэрэнгүй >>></button>
          <button id="uncollapse-btn" class="collapse-btn" ng-click="uncollapse();" style="display: none;">Хумих >>></button>
        </div>
        <div class="custom-buttons">
          <button class="ibutton" ng-click="overlayOff()"><img class="icon" src="img/favicon.png" /> Сагслах</button>
          <button class="ibutton" ng-click="payOn()"><img class="icon" src="img/favicon.png" /> Бэлнээр авах</button>
          <button class="ibutton" ng-click="overlayOff()"><img class="icon" src="img/favicon.png" /> Зээлэх</button>
        </div>
      </div>
      <div class="bank-container">
        <p>
          Та дурын банк болон ББСБ -ын зээлээр захиалан авах боломжтой
        </p>
        <img src="img/golomt.png" />
        <img src="img/khanbank-mn.png" />
        <img src="img/golomt.png" />
        <img src="img/golomt.png" />
      </div>
      <ion-footer class="bottom-footer"></ion-footer>
    </div>
  </ion-content>
</ion-view>
