<ion-view id="loanPages">
  <link href="views/car/car.css" rel="stylesheet" />
  <div ng-repeat="data in [{'title':'Авто машин'}]" ng-include src="'views/navbar.html'"></div>
  <ion-content class="ion-modified-content margin-top-50">
    <div class="big-container">
      <div class="magic-container margin-lr-20 margin-top-20">
        <p>Та хайх гэж буй машины брэндийг сонгох эсвэл бичнэ үү</p>
        <div class="search-input">
          <span class="icon ion-search"></span>
          <input type="text" placeholder="Хайх" name="" />
        </div>
        <div class="brand-tags">
          <ul>
            <li class="tags">Toyota</li>
            <li class="tags">Lamborghini</li>
            <li class="tags">Mercedes</li>
            <li class="tags">Tesla</li>
            <li class="tags">Bugatti</li>
            <li class="tags">Lexus</li>
            <li class="tags">BMW</li>
            <li class="tags">Hyundai</li>
            <li class="tags" ui-sref="car-brandlist">Бүгд</li>
          </ul>
        </div>
        <div class="cars">
          <ul>
            <li class="car-detail" ui-sref="car-info">
              <div class="car-img"><img src="img/car.jpg" /></div>
              <div id="car-dtl" class="desc">
                <p class="car-title">Lexus ls310</p>
                <span>2019/2020</span>
                <span>Да хүрээ</span>
                <p class="car-price">29,000,000₮</p>
                <span>BLG00021</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
