<ion-view id="loanPages">
  <link href="views/car/car.css" rel="stylesheet" />
  <ion-header-bar align-title="left" class="navbar">
    <div class="title ion-color-blue navbar-back-button">
      <button ng-click="$ionicGoBack()" class="nav-back-button button buttons button-clear header-item car-back-nav">
        <i class="ion-chevron-left"></i>
        <span class="navbar-back-text" style="transform: translate3d(0px, 0px, 0px);"><span>Авто машин</span></span>
      </button>
    </div>
    <div class="navbar-right-icon">
      <button class="button button-clear icon ion-search cus-header-icon ion-float-right ion-color-green" ui-sref="search"></button>
    </div>
  </ion-header-bar>
  <ion-content class="ion-modified-content">
    <div class="big-container">
      <home></home>
      <div class="magic-container margin-lr-20 margin-top-20">
        <p>Та хайх гэж буй машины брэндийг сонгох эсвэл бичнэ үү</p>
        <div class="search-input">
          <span class="icon ion-search"></span>
          <input type="text" placeholder="Хайх" name="" />
        </div>
        <div class="brand-tags">
          <ul>
            <li class="tags">Toyota</li>
            <li class="tags">Lamborghini</li>
            <li class="tags">Mercedes</li>
            <li class="tags">Tesla</li>
            <li class="tags">Bugatti</li>
            <li class="tags">Lexus</li>
            <li class="tags">BMW</li>
            <li class="tags">Hyundai</li>
            <li class="tags" ui-sref="car-brandlist">Бүгд</li>
          </ul>
        </div>
        <div class="cars">
          <ul>
            <li class="car-detail" ui-sref="car-info">
              <div class="car-img"><img src="img/car.jpg" /></div>
              <div class="desc">
                <p class="car-title">Lexus ls310</p>
                <span>2019/2020</span>
                <span>Да хүрээ</span>
                <p class="car-price">29,000,000₮</p>
                <span>BLG00021</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
