.qr-tab .tabs-top > .tabs {
  height: 40px !important;
  width: 230px !important;
  top: 0;
  left: 20px;
  background: none;
}
.qr-tab .tab-view {
  margin-top: 50px;
}
.qr-tab .tab-content {
  background-color: #f8f8fe;
}
.qr-image {
  width: 100%;
  background: #cdcd;
  border-radius: 18px;
}
.qr-image img {
  width: 100%;
}
.qr-tab-menu-container .tab-btn {
  border: none;
  background: none;
  padding: 5px;
}
.qr-tab-menu-container .active {
  border-bottom: 2px rgb(162, 209, 52) solid;
}
.margin-l-5 {
  margin-left: 5px;
}
.cars {
  margin: 20px 0 20px 0;
}
.cars .car-detail {
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 29%);
  height: 80px;
  margin-bottom: 10px;
}
.qr .desc {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cars .car-img {
  display: flex;
  position: relative;
  float: left;
  width: 170px;
}
.cars img {
  max-height: 60px;
}
.cars .desc span {
  font-size: 12px;
  color: #a2a7b5;
}
.cars .car-title {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.cars .car-price {
  margin: 0;
}

#car-dtl p {
  color: #4b5180;
  font-weight: bold;
}
