/* Empty. Add your own CSS if you like */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
@font-face {
  font-family: "Helvetica";
  src: url("../lib/fonts/Helvetica-Font/helvetica-light-587ebe5a59211.ttf") format("truetype");
}
* {
  font-family: Helvetica;
}
.big-container {
  height: 100vh !important;
}
.cus-header-icon {
  color: #000 !important;
  padding: 0 5px !important;
}
.cus-header-title {
  left: 35px !important;
}
.cus-header-right-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ion-color-green {
  color: #add321 !important;
}
.ion-color-blue {
  color: #263667 !important;
}
.ion-text-bold {
  font-weight: bold;
  font-size: 20px;
}
.ion-float-left {
  float: left;
}
.ion-float-right {
  float: right;
}
.tabs-top > .tabs {
  height: 40px !important;
  width: 130px !important;
  left: 17px;
  background: none;
}
.tab-item .icon {
  display: block;
  margin: 0 auto;
  height: 25px;
  width: 25px;
  font-size: 32px;
}
.tabs-top.tabs-striped .tab-item.tab-item-active {
  /* border-color: #add321; */
  fill: #add321 !important;
}
.tab-item-active > .tab-title {
  color: #add321 !important;
}
.tab-button-color-gray {
  color: #b2bfdb !important;
}
.tab-item-active > .tab-title {
  filter: invert() !important;
}
.tabs-top.tabs-striped .tab-item:active {
  border-color: #add321;
  color: #add321 !important;
}
.tab-item .tab-item-active {
  border-width: 0px 0px 2px 0px !important;
  border-style: solid;
}
.tab-item.tab-item-active {
  border-bottom: 1px solid;
  fill: #add321 !important;
  filter: invert(66%) sepia(91%) saturate(387%) hue-rotate(27deg) brightness(100%) contrast(94%);
  /* color: #add321 !important; */
}
.tab-title {
  color: #b2bfdb;
}
.home-tab .tabs {
  width: 100% !important;
  top: unset !important;
  left: unset !important;
  height: 49px !important;
  background: #f8f8fe;
  border: none;
}
.home-tab .tabs a {
  border: unset !important;
}
.button {
  border: none;
}
.btn {
  background: rgb(162, 209, 52);
  background: -moz-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  background: -webkit-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  background: linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a2d134",endColorstr="#3bc1f9",GradientType=1);
  color: white;
  width: 100%;
  border-radius: 10px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  min-height: 35px;
  line-height: 35px;
}
.btn:hover {
  color: white;
}
.btn:focus {
  color: white;
}
.ionic-button-color {
  background: rgb(162, 209, 52) !important;
  background: -moz-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%) !important;
  background: -webkit-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%) !important;
  background: linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%) !important;
  color: #fff;
}
.margin-lr-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.ghostwhite {
  background-color: #f8f8fe;
}
/* CHIMDEE CJ GLOBAL */
h4 {
  font-size: 14px;
  font-weight: 400;
  color: #7d7d7d;
  margin-bottom: 20px;
  margin-top: 10px;
}
.ion-modified-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: ghostwhite;
}
.big-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.magic-container {
  flex: 1 0 auto;
}
.bottom-footer {
  margin-bottom: 100px;
  padding: 30px 50px 10px 50px;
  flex-shrink: 0;
  background: none;
}
.bottom-first-button {
  background: rgb(148, 207, 79);
  background: -moz-linear-gradient(90deg, rgba(148, 207, 79, 1) 55%, rgba(102, 200, 174, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(148, 207, 79, 1) 55%, rgba(102, 200, 174, 1) 100%);
  background: linear-gradient(90deg, rgba(148, 207, 79, 1) 55%, rgba(102, 200, 174, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#94cf4f",endColorstr="#66c8ae",GradientType=1);
  color: white;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  min-height: 35px !important;
  line-height: 35px !important;
  font-size: 14px !important;
  margin: 0 auto;
}
.bottom-second-button {
  background: rgb(86, 197, 198);
  background: -moz-linear-gradient(119deg, rgba(86, 197, 198, 1) 55%, rgba(61, 192, 250, 1) 100%);
  background: -webkit-linear-gradient(119deg, rgba(86, 197, 198, 1) 55%, rgba(61, 192, 250, 1) 100%);
  background: linear-gradient(119deg, rgba(86, 197, 198, 1) 55%, rgba(61, 192, 250, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56c5c6",endColorstr="#3dc0fa",GradientType=1);
  color: white;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  min-height: 35px !important;
  line-height: 35px !important;
  font-size: 14px !important;
  margin: 0 auto;
}
.scroll-content {
  margin-bottom: 50px !important;
}
.ion-select-gen {
  right: 0;
  position: absolute;
  margin-right: 25px;
  border: none !important;
}
.tabs-striped .tab-item.activated {
  border-color: #add321 !important;
  color: #add321 !important;
}
.navbar {
  background: #f8f8fe;
}
.navbar-back-button {
  left: 0 !important;
  top: 5px !important;
}
.navbar-back-text {
  margin-left: 5px;
}
.navbar-right-icon {
  right: 5px;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-50 {
  margin-top: 40px;
}
/* .tab-nav,
.bar-footer {
  display: none !important;
}

.bar.bar-header {
  display: none;
}

.has-tabs-top {
  top: 0px !important;
}
.has-tabs-bottom {
  bottom: 0px !important;
}
.has-tabs,
.bar-footer.has-tabs,
.has-footer.has-tabs {
  bottom: 0px;
}
.custom-header,
.custom-footer {
  display: block !important;
}
.is-container-login > .has-header {
  top: 0px !important;
}

.is-container-login > .scroll-content {
  margin-bottom: 0px !important;
} */
.bar .button.button-clear.icon:before {
  font-size: 28px !important;
}
.bar .button.button-icon {
  font-size: 22px !important;
}
.header-bell-icon {
  padding-right: 15px !important;
}
.custom-cart-line {
  background: url(../lib/icon/shopping-cart-2-line.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}
.custom-cart-fill {
  background: url(../lib/icon/shopping-cart-2-fill.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}
.custom-home-line {
  background: url(../lib/icon/home-2-line.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}
.custom-home-fill {
  background: url(../lib/icon/home-2-fill.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}
.custom-qr-line {
  background: url(../lib/icon/qr-code-line.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}
.custom-qr-fill {
  background: url(../lib/icon/qr-code-fill.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}
.custom-bank-line {
  background: url(../lib/icon/bank-line.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}
.custom-bank-fill {
  background: url(../lib/icon/bank-fill.svg) no-repeat;
  background-size: contain;
  width: 80px;
  background-position: center;
}
