/* Empty. Add your own CSS if you like */
@font-face {
  font-family: "Roboto-Bold";
  src: url("../lib/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../lib/roboto/Roboto-Regular.ttf") format("truetype");
}
.cus-header-icon {
  color: #000 !important;
}
.cus-header-title {
  left: 35px !important;
}
.cus-header-right-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ion-color-green {
  color: #add321 !important;
}
.ion-color-blue {
  color: #263667 !important;
}
.ion-text-bold {
  font-weight: bold;
  font-size: 20px;
}
.ion-float-left {
  float: left;
}
.ion-float-right {
  float: right;
}
.tabs-top > .tabs {
  height: 40px !important;
  width: 130px !important;
  left: 17px;
}
.tabs-top.tabs-striped .tab-item.tab-item-active {
  border-color: #add321;
}
.tab-item-active > .tab-title {
  color: #add321 !important;
}
.tabs-top.tabs-striped .tab-item:active {
  border-color: #add321;
  color: #add321 !important;
}
.tab-item .tab-item-active {
  border-width: 0px 0px 2px 0px !important;
  border-style: solid;
}
.home-tab .tabs {
  width: 100% !important;
  top: unset !important;
  left: unset !important;
  height: 49px !important;
}
.home-tab .tabs a {
  border: unset !important;
}
.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0px 20px 0px;
}
.button {
  border: none;
}
.btn {
  background: rgb(162, 209, 52);
  background: -moz-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  background: -webkit-linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  background: linear-gradient(45deg, rgba(162, 209, 52, 1) 30%, rgba(59, 193, 249, 1) 77%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a2d134",endColorstr="#3bc1f9",GradientType=1);
  color: white;
  width: 70%;
  border-radius: 10px;
  font-weight: 600;
}
.btn:hover {
  color: white;
}
.btn:focus {
  color: white;
}
.bottom-border-input-text input {
  background: none;
  border-bottom: 1px solid;
  border-radius: 10px;
  border-color: yellowgreen;
  padding: 0 15px 0 20px;
}
